@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #54bab9;
  --heading-color: #54bab9;
  --search-color: rgba(68, 68, 68, 0.5);
  --text-color: #000000;
  --text-white-color: #ffffff;
  --subtitle-color: #444444;
  --placeHolder-color: #acb3c0;
  --add-btn-color: #ffffff;
  --delete-button-color: #cd211d;
  --update-button-color: #edc339;
  --message-box-color: #1ab45d;
  --accent-color: #acb3c0;
}

.headerText {
  color: var(--heading-color);
  font-size: 14px;
  text-align: start;
}
.Title {
  color: var(--heading-color);
  font-size: 22px;
  text-align: start;
}
.bodyText {
  color: var(--text-color);
  font-size: 14px;
  text-align: start;
}
.text-placeholder {
  color: var(--text-color);
}

nav {
  background-color: var(--background-color);
  color: var(--text-white-color);
}

.text {
  color: var(--text-color);
  font-size: 14px;
}

.data-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.popup {
  position: absolute;
  top: 50%; /* Position below the parent element */
  right: 100%;
  background-color: var(--add-btn-color); /* Background color of the popup */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle elevation */
  border: 1px solid #ccc; /* Border to separate the popup from the rest of the content */
  z-index: 1; /* Ensure it appears above other content */
  padding: 3px; /* Add padding to the popup content */
  min-width: 90px; /* Adjust the width as needed */
  border-radius: 4px; /* Rounded corners */
  display: block; /* Initially hide the popup */
}

.popup button {
  padding: 5px; /* Add padding to the popup content */
  cursor: pointer;
}
.popup button:hover {
  background-color: var(--accent-color);
}

/* Show the popup when the parent element is clicked */
.popup.active {
  display: block;
}

.inputSearch {
  border: 1px solid var(--accent-color);
  border-radius: 16px;
  margin: 0;
  padding: 4px 20px;
}
.selectBorders {
  border: 1px solid var(--accent-color);
}

.add-btn {
  background-color: var(--background-color);
  color: var(--add-btn-color);
  display: flex;
  gap: 7px;
  border: 1px;
  border-radius: 16px;
  padding: 4px 20px;
  margin: 0;
}
.inputBorder {
  border: 1px solid var(--background-color);
  padding: 2px;
}

.save-btn {
  background: var(--background-color);
  color: var(--text-color);
  padding: 6px 20px;
}

.update-btn {
  background: var(--update-button-color);
  color: var(--text-color);
  padding: 6px 20px;
}
.cancel-btn {
  border: 1px solid var(--subtitle-color);
  padding: 6px 20px;
}

